__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
venv/
.env/
.env.*
data/raw/
data/processed/
*.csv
models/
*.pkl
*.joblib
mlruns/
mlartifacts/
*.log
logs/
.DS_Store
Thumbs.db
*.tar
.vscode/
.idea/
.pytest_cache/
.ipynb_checkpoints/